.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}
.alt-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkblue;
  -webkit-transition: .2s;
  transition: .2s;
}

.alt-slider:before, .slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  left: 0.3rem;
  bottom: 0.3rem;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider, input:checked + .alt-slider {
  background-color: #2196F3;
}

input:focus + .slider, input:focus + .alt-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before, input:checked + .alt-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.alt-slider.round, .slider.round {
  border-radius: 34px;
}


.slider.round:before, .alt-slider.round:before {
  border-radius: 50%;
}
