<div class="container-fluid float-container">
    <div class="row d-flex align-items-center" *ngIf="inclBackBtn; else fullLengthBtnGroup">
        <span class="col-2">
            <app-navback-btn [customLink]="'mainmenunew'"></app-navback-btn>
        </span>
        <span class="col">
            <app-scanmode-buttongroup></app-scanmode-buttongroup>
        </span>
    </div>
    <ng-template #fullLengthBtnGroup>
        <div class="row">
            <app-scanmode-buttongroup></app-scanmode-buttongroup>
        </div>
    </ng-template>

    <div class="row mt-4">
        <span class="d-flex justify-content-between align-items-center"  style="border-bottom: 1px solid black; padding-bottom: 0.5rem;">
            <h4 class="mt-0 mb-0">Results</h4>
            <span>{{ itsItems.length }} registered tags found.</span>
        </span>
    </div>
    
    <div class="mt-2">
        <app-scan-view-list 
            [listData]="itsItems"
            [selectMode]="selectMode"
            [isEditable]="isEditable"
            [isMaxEnabled]="isMaxEnabled"
            (updatedListData)="onUpdateListData($event)"
            (itemsSelected)="onItemsSelected($event)"
        ></app-scan-view-list>
    </div>

    <div class="float">
        <app-clearscan-btn (clicked)="onClear($event)"></app-clearscan-btn>
        <app-startscan-btn></app-startscan-btn>
        <button kendoButton (click)="onConfirm()" [primary]="true">{{continueOrConfirm === 'confirm' ? 'Confirm' : 'Continue'}}</button>
    </div>

</div>
