<div *ngIf="!!item || !!itemArr" class="container-fluid">  
    <div *ngIf="!isMultipleItems" class="d-flex justify-content-center align-items-center">
        <app-item-image [assetId]="itemAssetId"></app-item-image>
    </div>
  
    <hr />
  
    <div>
        <div class="row">
            <span class="property">TAG ID</span>
            <ng-container *ngIf="isMultipleItems">
                <span class="value" *ngFor="let item of itemArr">{{ item.EPC_ID }}</span>
            </ng-container>
            <ng-container *ngIf="!isMultipleItems">
                <span class="value">{{ item.EPC_ID }}</span>
            </ng-container>
        </div>
        <div class="row mt-2" *ngIf="!isMultipleItems">
            <legend class="k-form-legend" >{{formfieldTitlesDictionary["Category"]}}</legend>
            <span class="value">{{ item.Category }}</span>
        </div>
        <div class="row mt-2" *ngIf="!isMultipleItems">
            <span class="property">Status</span>
            <span class="value">{{ item.Asset_StatusName }}</span>
        </div>
        <div class="row mt-2" *ngIf="!isMultipleItems">
            <span class="property">{{formfieldTitlesDictionary["Asset_Location_ID"]}}</span>
            <span class="value">{{ item.Asset_LocationLocation }}</span>
        </div>

        <form class="k-form" [formGroup]="updateform">
            <div *ngIf="!isMultipleItems">
                <kendo-formfield>
                    <legend class="k-form-legend compulsory-field">{{formfieldTitlesDictionary["Description"]}}<span *ngIf="!isMultipleItems">*</span></legend>
                <input
                    formControlName="desc"
                    kendoTextBox
                    required
                    #desc
                    class="form-control"
                />
                <kendo-formerror>Error: Description is required</kendo-formerror>
                </kendo-formfield>
            </div>
            <div *ngIf="!isMultipleItems">
                <kendo-formfield>
                    <legend class="k-form-legend compulsory-field">{{formfieldTitlesDictionary["Asset_No"]}}</legend>
                    <input
                        formControlName="assetno"
                        kendoTextBox
                        #assetno
                        class="form-control"
                    />
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                <legend class="k-form-legend">{{formfieldTitlesDictionary["SKU"]}}</legend>
                <input
                    formControlName="sku"
                    kendoTextBox
                    #sku
                    class="form-control"
                />
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                    <legend class="k-form-legend">{{formfieldTitlesDictionary["Ref_No"]}}</legend>
                    <input
                        formControlName="refno"
                        kendoTextBox
                        #refno
                        class="form-control"
                        value="{{ item?.Ref_No }}"
                    />
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                    <legend class="k-form-legend" [ngClass]="{'compulsory-field': !isMultipleItems}">{{formfieldTitlesDictionary["Date_of_Purchase"]}}*</legend>
                    <kendo-datepicker
                        *ngIf="!isMultipleItems"
                        [incompleteDateValidation]="true"
                        format="dd-MMM-yyyy"
                        formControlName="dop"
                        #dop
                        class="form-control"
                        required
                    ></kendo-datepicker>
                    <kendo-datepicker
                        *ngIf="isMultipleItems"
                        [incompleteDateValidation]="true"
                        format="dd-MMM-yyyy"
                        formControlName="dop"
                        #dop
                        class="form-control"
                    ></kendo-datepicker>
                    <kendo-formerror>Error: D.O.P is required</kendo-formerror>
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                    <legend class="k-form-legend">{{formfieldTitlesDictionary["Date_of_Expire"]}}</legend>
                    <kendo-datepicker
                    format="dd-MMM-yyyy"
                    formControlName="doe"
                    #doe
                    class="form-control"
                    ></kendo-datepicker>
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                    <legend class="k-form-legend">{{formfieldTitlesDictionary["Warranty_Expiry_Date"]}}</legend>
                    <kendo-datepicker
                    format="dd-MMM-yyyy"
                    formControlName="dowe"
                    #dowe
                    class="form-control"
                    ></kendo-datepicker>
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                    <legend class="k-form-legend">{{formfieldTitlesDictionary["Calibration_Date"]}}</legend>
                    <kendo-datepicker
                    format="dd-MMM-yyyy"
                    formControlName="doc"
                    class="form-control"
                    ></kendo-datepicker>
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                    <legend class="k-form-legend">{{formfieldTitlesDictionary["Cost"]}}</legend>
                    <kendo-numerictextbox
                        [spinners]="false"   
                        [format]="n2"      
                        formControlName="cost"
                        #cost
                        class="form-control"
                    ></kendo-numerictextbox>
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                    <legend class="k-form-legend">{{formfieldTitlesDictionary["UOM"]}}</legend>
                    <input
                        formControlName="uom"
                        kendoTextBox
                        #uom
                        class="form-control"
                    />
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                    <legend class="k-form-legend">{{formfieldTitlesDictionary["BatchNo"]}}</legend>
                    <input
                    formControlName="batchno"
                    kendoTextBox
                    #batchno              
                    class="form-control"
                    />
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                    <legend class="k-form-legend">{{formfieldTitlesDictionary["Remarks"]}}</legend>
                    <div class="d-flex align-items-center">
                        <span class="toggle-text-left">Non&nbsp;{{ inboundVerifyValue | async }}</span>&nbsp;
                        <app-custom-switch
                          [isToggled]="isQcToggled"
                          (toggled)="onVerifyToggleChange($event)"
                        ></app-custom-switch>
                        &nbsp;<span class="toggle-text-right">{{ inboundVerifyValue | async }}</span>
                    </div>
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                    <legend class="k-form-legend">{{formfieldTitlesDictionary["Remarks2"]}}</legend>
                    <input
                        formControlName="rmk2"
                        kendoTextBox
                        #rmk2
                        class="form-control"
                    />
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                    <legend class="k-form-legend">{{formfieldTitlesDictionary["Remarks3"]}}</legend>
                    <input
                        formControlName="rmk3"
                        kendoTextBox
                        #rmk3
                        class="form-control"
                    />
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                    <legend class="k-form-legend">{{formfieldTitlesDictionary["Remarks4"]}}</legend>
                    <input
                        formControlName="rmk4"
                        kendoTextBox
                        #rmk4
                        class="form-control"
                    />
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                    <legend class="k-form-legend">{{formfieldTitlesDictionary["Remarks5"]}}</legend>
                    <input
                        formControlName="rmk5"
                        kendoTextBox
                        #rmk5
                        class="form-control"
                        value="{{ item?.Remarks5 }}"
                    />
                </kendo-formfield>
            </div>
            <div>
                <kendo-formfield>
                    <legend class="k-form-legend">{{formfieldTitlesDictionary["Remarks6"]}}</legend>
                    <input
                        formControlName="rmk6"
                        kendoTextBox
                        #rmk6
                        class="form-control"
                        value="{{ item?.Remarks6 }}"
                    />
                </kendo-formfield>
            </div>
        </form>

        <div class="row mt-4">
            <button kendoButton type="submit" [primary]="true" (click)="pressSubmit()">Submit</button>
        </div>

    </div>
</div>
  
<div *ngIf="!item && !itemArr" class="k-block container-fluid vh-100">
    <div class="d-flex justify-content-center align-items-center">
        <kendo-loader *ngIf="!itemNotFound"></kendo-loader>
        <span *ngIf="itemNotFound">No Item Information Found.</span>
    </div>
</div>

<div *ngIf="showSubmissionPanel" class="container-fluid" style="min-height: 100%">
<app-submission-dialog 
    [dialogTitle]="'Post Update'" 
    [transactionNo]="''"
    (closeSelected)="onClose($event)"
></app-submission-dialog>
</div>