<div>
  <app-deletable-tags-view
    style="max-height: 30vh;"
    [isExpanded]="false"
    [tags]="cicoTags"
    (dialogExpanded)="toggleExpandedDialog($event)"
    (tagDeleted)="onDeleteTags([$event])"
    (tagsDeleted)="onDeleteTags($event)"
  ></app-deletable-tags-view>

  <div class="row mt-4 d-flex justify-content-center">
    <strong>Choose one:</strong>
    <p class="k-block d-flex justify-content-center mt-2">
        <button kendoButton class="col-6"
          id="onlineLogin"
          [selected]="checkIn===true"
          [toggleable]="true"
          [disabled]="disabled === 'checkin'"
          [ngClass]="{ 'toggled': checkIn === true }"
          (click)="switchMode('Check In')">
          <span class="d-flex align-items-center"><kendo-svg-icon [icon]="checkinIcon" size="medium"></kendo-svg-icon>&nbsp;Check In</span>
        </button>
        &nbsp;
        <button
          kendoButton class="col-6"
          id="offlineLogin"
          (click)="switchMode('Check Out')"
          [selected]="checkIn===false"
          [disabled]="disabled === 'checkout'"
          [ngClass]="{ 'toggled': checkIn === false }"
          [toggleable]="true"
        ><span class="d-flex align-items-center"><kendo-svg-icon [icon]="checkoutIcon" size="medium"></kendo-svg-icon>&nbsp;Check Out</span>
        </button>
      </p>
            
      <form class="k-form mt-2" [formGroup]="cicoForm">
        <kendo-formfield>
          <legend class="k-form-legend">DocNo</legend>
          <input
            formControlName="docNo"
            kendoTextArea
            #docNo
            required
            class="form-control"
            readonly
          />
        </kendo-formfield>
        <kendo-formfield>
          <legend class="k-form-legend">PIC</legend>
          <input
            formControlName="pic"
            kendoTextArea
            #pic
            required
            class="form-control"
          />
        </kendo-formfield>
        <kendo-formfield>
          <legend class="k-form-legend">Remarks</legend>
          <input
            formControlName="rmk"
            kendoTextArea
            #rmk
            required
            class="form-control"
          />
        </kendo-formfield>
    </form>

    <div class="row mt-4">
      <button kendoButton [primary]="true" (click)="pressSubmit()">Submit</button>
    </div>

  </div>
</div>

<ng-container *ngIf="showExpandedDialog" class="container-fluid vh-100">
  <kendo-dialog class="p-0" [style.width.%]="100" [style.height.%]="100" (close)="toggleExpandedDialog(false)">
      <app-deletable-tags-view 
          [isExpanded]="true"
          [tags]="cicoTags"
          (tagDeleted)="onDeleteTags([$event])"
          (tagsDeleted)="onDeleteTags($event)"
      ></app-deletable-tags-view>
      <kendo-dialog-actions>
          <button kendoButton [primary]="true" [style.width.%]="100" (click)="toggleExpandedDialog(false)">Done</button>
      </kendo-dialog-actions>
  </kendo-dialog>
</ng-container>


<div *ngIf="showSubmissionPanel" class="container-fluid" style="min-height: 100%">
  <app-submission-dialog 
    [dialogTitle]="submissionDialogTitle" 
    [transactionNo]="cicoForm.get('docNo').value"
    (closeSelected)="onClose($event)"
  ></app-submission-dialog>
</div>