<div class="d-flex Indicator" [ngClass]="{size : true}">
    <div class="col-8">
        <div class="Indicator__title">
            <div>
            <div class="row">
                <div class="column col-12">
                <h3 class="Indicator__name">{{ SM }}-{{assetNo}} </h3>
                </div>
            </div>
            </div>
            <p class="Indicator__group">{{description}}</p>
        </div>
        <p class="Indicator__callout">{{ location }}</p>
    </div>
    <div class="column col-4 multipleItem">
        <p class="Indicator__group quantity">{{quantity}}</p>
    </div>
</div>