@import "its-variables";
@import "variables";

.item {
    display: flex;
    height: fit-content;
    padding: 0.8rem;
    align-items: flex-start;
    border-top: solid;
    border-color: #ecebeb;
    border-width: thin;
    background-color: white;
    outline: 1px solid lightgray;

    position: relative;

    &-details {
        flex: 3;
        flex-grow: 2;
    }
    &-value {
        flex: 1;
        flex-grow: 1;
    }
    &-name {
        font-size: 1.2rem;;
        color: $list-item-text;
        font-weight: bolder;
    }
    &-category {
        font-size: 1rem;
        color: $list-item-text;
    }
    &-location {
        font-size: 1rem;
        color: #656565;
    }
    &-epc {
        font-size: 1rem;
        color: goldenrod;
    }
    &-balance {
        @include item-card-balance;

        &-m {
            color: #656565;
            font-weight: bolder;
            font-size: smaller;
            display: flex;
            justify-content: flex-end;
        }
    }
    &-bin-indicator {
        position: absolute;
        right: 0;
        bottom: 5%;
        padding: 3px 20px;
        font-size: larger;
        color: $error;
    }
}

.item.bg-darker {
    background-color: #e2e2e2;
}

.custom-marker {
    background-color: $list-item-text;
    color: white;
    padding: 2px 4px;
    text-align: center;
    border-radius: 0.1rem;
    margin-right: 0.5rem;
}
.custom-marker.bg-m {
    background-color: lightseagreen;
}

.selected-item {
    @include selected-item
}

.qc-indicator {
    font-size: smaller;
    font-weight: 500;
    background-color: #FFE162;
    color: black;
    padding: 3px;
    text-align: center;
    border-radius: 50%;
    width: fit-content;
}
.nonqc-indicator {
    font-size: smaller;
    font-weight: 500;
    background-color: #656565;
    color: white;
    padding: 1px;
    text-align: center;
    border-radius: 0.1rem;
}

.numerictextbox-wrapper:nth-child(1) {
    outline: 1.5px solid #F1EFEF;
}

.inline-group {
    display: inline-flex;
    align-items: center;
    gap: 4px; /* Adjust spacing if needed */
  }