.radio-input{
  border:none;
  background-color: #F8F7FD;
  padding:0;
  margin-top: 10px;
}
.btn-submit{
 background-color: #292833;
 border-radius : 12px;
}
.btn-clear{
 border-radius : 12px;
 background-color: #fff;
}
